/*  your css code here. If applicable */
.content{
	  font-family: arial;
	background-color:lightblue;
  font-size: 24px;
  margin: 25px;
  width: 250px;
  height: 250px;
  outline: solid 2px black;
  /* Setup */
  position: relative;
	
}
.center{
	  text-align: center;
	color:purple;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 40%;
	margin: -25px 0 0 -25px;
}