/*  your css code here. If applicable */
.content{
	  font-family: arial;
	/*text-align: center;*/
	background-color:lightblue;
  font-size: 24px; 
	margin:0%;
  width: 250px;
  height: 250px;
  border: solid 2px black;
  /* Setup */
  position: relative;
	
}
.center {
  text-align: center;
 /* border: 3px solid green;*/
	 position: relative;
	color:purple;
	  margin-top: auto;
  margin-buttom: auto;
	padding: 100px 0;
	/*position:relative:*/
}